@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&Nanum+Gothic:wght@400;700;800&Sawarabi+Gothic&display=swap');

*{margin: 0; padding: 0;}
.text{font-family: Noto Sans KR; font-weight: 100;}
a, a:active, a:hover, a:visited, a:link{color: black; text-decoration-line: none; font-style: normal;}

/* header */
header{width: 100%; height: 192px;}
#top_banner{width: 100%; height: 60px; background-color: #F7F3E8;}
#top_banner > div{width: 1200px; height: 60px; background-image: url(./img/top_banner.jpg); background-repeat: no-repeat; margin: 0 auto;}

#var{width: 100%; height: 132px; display: flex; justify-content: center;}
#var > div{width: 1140px; height: 132px; margin: 0 auto;}

#var1{width: 1140px; height: 30px; display: flex; justify-content: space-between; margin-top: 30px; margin-bottom: 28px;}
#logo_img{width: 190px; height: 30px; background-image: url(./img/jestina_logo.png); background-repeat: no-repeat; background-size: contain;}
#var_t_r{width: 270px; height: 18px; display: flex; justify-content: end; margin-right: 10px; margin-top: 8px; }
#var_t_r > a {padding-left: 15px; font-size: 13px; font-weight: 100; font-family: NanumGothic;}

#var_b_l{font-size: 16px; font-weight: 500;}
#var_b_l a{padding-right: 30px;}

#var_b_r{font-size: 16px; font-family: Noto Sans KR;}
#var_b_r a{padding-left: 20px; font-weight: 300;}
#var2{display: flex; justify-content: space-between;}


/* section */

/* main_banner */
#main_banner{width: 100%; height: 550px; background-repeat:no-repeat; background-size: 100%; background-position: center center; background-image: url(./img/main_banner.jpg); position: relative;}
#main_banner_prev{width: 26px; height: 48px; position: absolute; top: 50%; left: 2rem;
background-image: url(./img/btn_arrow_prev.png); background-size: contain;}
#main_banner_next{width: 26px; height: 48px; position: absolute; top: 50%; right: 2rem;
background-image: url(./img/btn_arrow_next.png); background-size: contain;}

/* section_top_coupon */
#section_top_coupon{width: 1140px; height: 175px; margin: 0 auto; position: relative; margin-top: 40px; image-rendering: -webkit-optimize-contrast;}
#section_top_coupon_l{width: 563px; height: 175px; position: absolute; left: 0px;
    background-image: url(./img/section_top_coupon_l.jpg); background-size: cover; background-repeat: no-repeat;}
#section_top_coupon_r{width: 563px; height: 175px; position: absolute; right: 0px;
    background-image: url(./img/section_top_coupon_r.jpg); background-size: cover; background-repeat: no-repeat;}

/* special_plan  2537 1639 */
#section_main{width: 100%; height: 1900px; border: 2px solid blue;}
#section_SpecialPlan{width: 1140px; height: 1050px; margin: 0 auto; margin-top: 100px;
    border: 2px solid skyblue;}
#section_SpecialPlan p {font-size: 25px; font-family: Noto Sans KR; font-weight: 500; margin-bottom: 40px;}

#special_plan_t{width: 1140px; height: 510px; display: flex; justify-content: center; border: 2px solid seagreen;}
#SpecialPlan_main_img{width: 429px; height: 510px; background-image: url(./img/special_plan/special_plan_main.jpg);
    border: 2px solid skyblue;}

/* special_plan  여기서부터 고치기*/
#special_plan{width: 711px; height: 510px; border: 1px solid greenyellow;}
#SpecialPlan_img{margin: 0 auto; width: 696px; height: 390px; margin-top: ;
    border: 1px solid greenyellow;}